<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>7</string>
		<integer>100000</integer>
		<string>1/16</string>
	</array>
	<array>
		<string>9</string>
		<integer>200001</integer>
		<string>1/16</string>
	</array>
	<array>
		<string>7</string>
		<integer>400002</integer>
		<string>1/16</string>
	</array>
	<array>
		<string>9</string>
		<integer>300003</integer>
		<string>1/16</string>
	</array>
	<array>
		<string>7</string>
		<integer>500004</integer>
		<string>1/16</string>
	</array>
	<array>
		<string>8</string>
		<integer>500005</integer>
		<string>1/16</string>
	</array>
	<array>
		<string>7</string>
		<integer>400006</integer>
		<string>1/16</string>
	</array>
	<array>
		<string>9</string>
		<integer>300007</integer>
		<string>1/16</string>
	</array>
	<array>
		<string>10</string>
		<integer>500008</integer>
		<string>1/16</string>
	</array>
	<array>
		<string>9</string>
		<integer>400009</integer>
		<string>1/16</string>
	</array>
	<array>
		<string>7</string>
		<integer>300010</integer>
		<string>1/16</string>
	</array>
	<array>
		<string>6</string>
		<integer>400015</integer>
		<string>1/16</string>
	</array>
	<array>
		<string>7</string>
		<integer>400016</integer>
		<string>1/16</string>
	</array>
	<array>
		<string>7</string>
		<integer>400011</integer>
		<string>1/4</string>
	</array>
</array>
</plist>
