<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>0</string>
		<integer>300000</integer>
		<string>1/4</string>
	</array>
	<array>
		<string>3</string>
		<integer>300004</integer>
		<string>1/4</string>
	</array>
	<array>
		<string>5</string>
		<integer>300008</integer>
		<string>3/8</string>
	</array>
	<array>
		<string>0</string>
		<integer>300014</integer>
		<string>1/4</string>
	</array>
	<array>
		<string>6</string>
		<integer>300022</integer>
		<string>1/8</string>
	</array>
	<array>
		<string>3</string>
		<integer>300018</integer>
		<string>1/4</string>
	</array>
	<array>
		<string>5</string>
		<integer>300024</integer>
		<string>1/4</string>
	</array>
	<array>
		<string>0</string>
		<integer>400000</integer>
		<string>1/4</string>
	</array>
	<array>
		<string>5</string>
		<integer>400008</integer>
		<string>3/8</string>
	</array>
	<array>
		<string>0</string>
		<integer>400014</integer>
		<string>1/4</string>
	</array>
	<array>
		<string>3</string>
		<integer>400018</integer>
		<string>1/4</string>
	</array>
	<array>
		<string>6</string>
		<integer>400022</integer>
		<string>1/8</string>
	</array>
	<array>
		<string>5</string>
		<integer>400024</integer>
		<string>1/4</string>
	</array>
	<array>
		<string>3</string>
		<integer>400004</integer>
		<string>1/4</string>
	</array>
</array>
</plist>
